.columnTitle {
  position: absolute;
  text-align: center;
  display: block;
  pointer-events: all;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort {
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
}
