.grey {
  background-color: #edebe9;
  color: #5d5d5d;
}

.tableContent {
  user-select: none;
  position: absolute;
  pointer-events: none;
}

.barless::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.barless {
  scrollbar-width: none;
}

.tableContainer {
  position: relative;
  flex: 1;
  overflow: auto;
}

.focus {
  border: 2px solid green;
  margin: -1px 0 0 -1px;
  width: 61px;
  height: 21px;
  position: absolute;
}

.cell {
  position: absolute;
  width: 60px;
  height: 20px;
  text-align: center;
  pointer-events: none;
}
